@font-face {
  font-family: "Gilroy heavy,sans-serif";
  src: url("./assets/fonts/Gilroy-Heavy.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy bold,sans-serif";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy medium,sans-serif";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy regular,sans-serif";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy light,sans-serif";
  src: url("./assets/fonts/Gilroy-Light.ttf");
  word-wrap: break-word;
}

.font_gilroy_heavy {
  font-family: "Gilroy heavy,sans-serif";
}

.font_gilroy_bold {
  font-family: "Gilroy bold,sans-serif";
}

.font_gilroy_light {
  font-family: "Gilroy light,sans-serif";
}

.font_gilroy_medium {
  font-family: "Gilroy medium,sans-serif";
}

.font_gilroy_regular {
  font-family: "Gilroy regular,sans-serif";
}

.cross span:nth-child(1) {
  transform: rotate(45deg) translateY(14px) translateX(4px);
}

.cross span:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.cross span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px) translateX(0px);
}